<!-- <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <h2>Welcome, {{ userName | uppercase}} !</h2>
      <h3>Your name has been set successfully.</h3>
    </div>
</div>
   -->

   <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <h2 *ngIf="modalType === 'welcome'">Welcome, {{ userName | uppercase }}!</h2>
      <h3 *ngIf="modalType === 'welcome'">Your name has been set successfully.</h3>
      
      <h2 *ngIf="modalType === 'roomSelection'">Select Room Type</h2>
      <button *ngIf="modalType === 'roomSelection'" (click)="createRoom('single')">Create Room (Single Buzz)</button>
      <button *ngIf="modalType === 'roomSelection'" (click)="createRoom('multiple')">Create Room (Multiple Buzzes)</button>
      <button *ngIf="modalType === 'roomSelection'" (click)="closeModalAction()" id="cancel-btn">Cancel</button>
    </div>
  </div>
  